@{
    ViewData["Title"] = "Home Page";
}

<table id="grid">
</table>

@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function() {
            var name = getRandomName();
            var grid = $('#grid');

            var gridHtml = '';
            for (var row = 0; row < 50; row++) {
                gridHtml += '<tr>';
                for (var col = 0; col < 50; col++) {
                    gridHtml += '<td data-index="' + row + ':' + col + '">&nbsp;</td>';
                }
                gridHtml += '</tr>';
            }
            grid.html(gridHtml);

            $('#grid tr td').click(function(e) {
                var index = $(e.target).data('index');
                var indexSplit = index.split(':');
                var row = indexSplit[0];
                var col = indexSplit[1];
                $.ajax({
                    url: 'api/grid/' + name + '/' + row + '/' + col,
                    method: "POST",
                    success: function(data) {

                        $.each(data.changedSquares,
                            function(idx, s) {
                                var cell = $('td[data-index="' + s.row + ':' + s.column + '"]');
                                cell.html(s.newValue);
                                cell.addClass('just-changed');
                            });

                        $.each(data.sequencesFound,
                            function(idx, s) {
                                var row = s.row;
                                var col = s.column;
                                for (var x = 0; x < s.sequenceLength; x++) {
                                    var cell = $('td[data-index="' + row + ':' + col + '"]');
                                    cell.html('&nbsp;');
                                    cell.addClass('just-reset');
                                    if (s.direction === 'Horizontal') {
                                        col++;
                                    } else {
                                        row++;
                                    }
                                }
                            });

                        setTimeout(
                            function() {
                                $('#grid td[class="just-changed"]').removeClass('just-changed');
                                $('#grid td[class="just-reset"]').removeClass('just-reset');
                            },
                            500);
                    },
                    error: function() {
                        alert('Sorry! This action could not be completed.');
                    }
                });
            });
        });

        function getRandomName() {
            var text = "";
            var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

            for (var i = 0; i < 5; i++)
                text += possible.charAt(Math.floor(Math.random() * possible.length));

            return text;
        }

    </script>
}

