@{
    ViewData["Title"] = "Home Page";
}

<table id="grid">
</table>

@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function() {
            var name = getRandomName();
            var grid = $('#grid');

            var gridHtml = '';
            for (var row = 0; row < 50; row++) {
                gridHtml += '<tr>';
                for (var col = 0; col < 50; col++) {
                    gridHtml += '<td data-index="' + row + ':' + col + '">&nbsp;</td>';
                }
                gridHtml += '</tr>';
            }
            grid.html(gridHtml);

            $('#grid tr td').click(function(e) {
                var index = $(e.target).data('index');
                var indexSplit = index.split(':');
                var row = indexSplit[0];
                var col = indexSplit[1];
                $.ajax({
                    url: 'api/grid/' + name + '/' + row + '/' + col,
                    method: "POST",
                    success: function (data) {
                        for (var i = 0; i < data.changedSquares.length; i++) {
                            var thisEvent = data.changedSquares[i];
                            var cell = $('td[data-index="' + thisEvent.row + ':' + thisEvent.column + '"]');
                            cell.html(thisEvent.newValue === 0 ? '' : thisEvent.newValue);
                            cell.addClass('just-changed');
                        }
                        setTimeout(function() {
                            $('#grid td[class="just-changed"]').removeClass('just-changed');
                        }, 500);
                    },
                    error: function() {
                        alert('Sorry! This action could not be completed.');
                    }
                });
            });
        });

        function getRandomName() {
            var text = "";
            var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

            for (var i = 0; i < 5; i++)
                text += possible.charAt(Math.floor(Math.random() * possible.length));

            return text;
        }

    </script>
}

